# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.Python

# VS Code
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# Build output
dist/
build/
out/

# Misc
*.swp
*.swo
.idea/
*.bak
# Local Netlify folder
.netlify
